$red: #fc0d1b;

body {
  background-color: #f4f6f8;
}

nav {
  position: fixed;
  z-index: -1;
  height: 100vh;
  width: 100vw;

  #logo {
    height: 32px;
    position: absolute;
    top: 30px;
    left: 30px;
    transform-origin: left;
    transform: rotateZ(90deg) translate(-15%, -50%);
  }

  #title {
    font-size: 32px;
    text-transform: uppercase;
    position: absolute;
    top: 30px;
    right: 30px;
    transform-origin: right;
    transform: rotateZ(-90deg) translate(6%, -31%);
  }

  #copyright {
    z-index: 20;
    padding: 30px;
    background-color: $red;
    color: white;
    position: absolute;
    bottom: 0;
    right: 0;
    transform-origin: bottom right;
    transform: rotateZ(-90deg) translate(100%, 0%);

    a {
      margin: 0;
      text-decoration: none;
      color: white;

      &:visited {
        color: white;
      }
    }
  }
}

#photos-container {
  display: flex;
  flex-direction: column;
  padding: 80px 100px;

  .photo-container {
    padding: 0;
    // border: 1px solid red;
    padding-right: 44px;
    padding-bottom: 68px;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      aspect-ratio: 1;
      // border-radius: 7px;
      transition: 0.2s;

      -webkit-box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.2);
      box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.2);

      &:hover {
        // border-radius: 3px;
        border: 7px solid $red;
        -webkit-box-shadow: 5px 5px 20px 1px rgba(0, 0, 0, 0.3);
        box-shadow: 5px 5px 20px 1px rgba(0, 0, 0, 0.3);
      }
    }

    .right-components {
      position: absolute;
      top: 0;
      right: 15px;

      transform-origin: right top;
      transform: rotate(90deg) translate(100%, 0%);

      display: flex;
      flex-direction: row;

      .delete-btn {
        border: none;
        background-color: transparent;
        padding: 0px;
        cursor: pointer;
        text-transform: uppercase;

        &:hover {
          color: $red;
        }
      }

      .date {
        font-size: 16px;
        margin-left: 50px;
      }
    }

    .bottom-components {
      position: absolute;
      bottom: 15px;
      left: 0;

      .camera {
        font-weight: bold;
        margin-right: 20px;
      }
    }

    p {
      text-transform: uppercase;
      padding: 0;
      margin: 0;
    }
  }
}

#show-more-btn {
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
  border: none;
  background-color: transparent;
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;

  .icon {
    margin-top: 20px;
    transform: rotate(135deg);
  }

  &:hover {
    color: red;
  }

  &:focus {
    outline: none;
  }
}

@media screen and (max-width: 600px) {
  nav {
    #logo {
      height: 20px;
      top: 10px;
      left: 10px;
    }

    #title {
      font-size: 20px;
      top: 10px;
      right: 10px;
    }

    #copyright {
      padding: 10px 20px;
    }
  }

  #photos-container {
    padding: 40px 50px;
    padding-left: 60px;
  }
}
